body {
        background-color: black;
        color: white;
        font-family: arial;
        font-weight: bold;
      }
      .move {
        background-color: transparent;
        margin-right: 10px;
        border: 3px solid white;
        height: 120px;
        width: 120px;
        border-radius: 60px;
        cursor: pointer;
        
      }
      .move img {
        object-fit: contain;
        height: 80px;
        width: 80px;
      }
      .result {
        font-size: 30px;
      }
      .moves{
        height: auto;
        display: flex;
        align-items: center;
        margin-top: 20px;
        /* justify-content: center; */
        gap: 10px;
      }
      .moves img {
        height: 60px;
        width: 60px;
      }
      .resetbutton,.autoplay,.yes,.no{
        border: none;
        padding: 15px;
        font-weight: bold;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
