.number {
      background-color: rgb(51,51,51);
    }
    .operator {
      background-color: rgb(254, 160, 10);
    }
    .clearbutton {
      font-size: 17px;
      background-color: rgb(51,51,51);
    }
    body {
      background-color: black;
      font-family: Arial;
      color: white;

    }
    .result {
      margin-top: 15px;
      margin-bottom: 5px;
      font-size: 45px;
      /* min-height: 40px; */
    }
    button {
      color: white;
      /* font-weight: bold; */
      height: 60px;
      width: 60px;
      font-size: 26px;
      /* padding: 20px 20px; */
      border-radius: 60px;
      margin: 5px;
      border: none;
    }
    .row {
      display: flex;
      /* justify-content: center; */
      margin: 5px 0px;
      justify-content: flex-start;
      
    }
    .space-btn {
      opacity: 0;
      pointer-events: none;
    }